<div class="col-lg-6">
    <div class="input-group">
        <form id="searchForm" asp-action="Search" method="get">
            <input type="text" name="searchName" class="form-control" placeholder="Search for...">
        </form>
        <span class="input-group-btn">
            <button type="submit" form="searchForm" class="btn btn-secondary">Search</button>
        </span>
    </div>
</div>
