@model UsersViewModel

@{
    ViewData["Title"] = "Users";
}

<h2>Users</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Fullname</th>
                <th>Username</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var u in Model.Users) {
                <tr>
                    <td>@u.FirstName @u.LastName</td>
                    <td>@u.UserName</td>
                    @if (!u.UserName.Equals(User.Identity.Name)) {
                        <td>
                            <form asp-action="DeleteUser" asp-route-id="@u.Id" id="deleteUser@($"{u.Id}")">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    }
                </tr>
            }
                </tbody>
            </table>
        </div>

