@model FileSystem.Web.Models.FileEditViewModel

@{
    ViewData["Title"] = "EditFile";
}

<h2>EditFile</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditFile">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.HiddenFor(m => m.FolderId)
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsPublic" /> @Html.DisplayNameFor(model => model.IsPublic)
                    </label>
                </div>
            </div>
            <ul class="list-group">
                <li class="list-group-item list-group-item-info">
                    <span class="badge">@Model.Size bytes</span>
                    Size
                </li>
            </ul>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Drive" asp-route-id="@Model.FolderId">Back to folder</a>
</div>

