@model FolderViewModel
@{
    ViewData["Title"] = "Search";
}

<h2>Searching for: @ViewBag.SearchName</h2>
<div class="row">
    @{await Html.RenderPartialAsync("_SearchBarPartial"); }
</div>
@{await Html.RenderPartialAsync("_FolderContentPartial", Model);}

